<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hk.reco.music.iptv.common.dao.IptvResDao" >
	<insert id="insertRes" parameterType="hk.reco.music.iptv.common.domain.IptvRes" useGeneratedKeys="true" keyProperty="rid" keyColumn="rid">
		INSERT INTO iptv_res(type,child_type,res_id,music_id,cate_ids,create_time,iptv_code1,iptv_code2,media_ok,media_definition,media_lyric,listen_num,batch_num,free,song_mv_id,play_time)values
				(#{type},#{child_type},#{res_id},#{music_id},#{cate_ids},now(),#{iptv_code1},#{iptv_code2},#{media_ok},#{media_definition},#{media_lyric},#{listen_num},#{batch_num},#{free},#{song_mv_id},#{play_time})
	</insert>
<!-- 	<update id="markVersion">
		UPDATE iptv_res
		<set>
	      <if test="prod_vid != null">
	        prod_vid = #{prod_vid},
	      </if>
	      <if test="test_vid != null">
	        test_vid = #{test_vid},
	      </if>
	    </set>
		WHERE rid=#{rid}
	</update> -->
	
	<update id="updateMvid">
		UPDATE iptv_res SET song_mv_id=#{song_mv_id} WHERE rid=#{rid}
	</update>

	<update id="updateRes" parameterType="hk.reco.music.iptv.common.domain.IptvRes">
		UPDATE iptv_res
		<set>
		  <if test="child_type!=null">child_type=#{child_type}</if>
	      <if test="free!=null">free=#{free}</if>
	      <if test="global_disable!=null">global_disable=#{global_disable}</if>
	      <if test="prod_vid!=null">prod_vid=#{prod_vid}</if>
	      <if test="test_vid!=null">test_vid=#{test_vid}</if>
		</set>
		WHERE rid=#{rid}
	</update>

	<update id="updateMefiaInfo" parameterType="hk.reco.music.iptv.common.domain.IptvRes">
		UPDATE iptv_res SET media_lyric=#{media_lyric},media_definition=#{media_definition},iptv_code1=#{iptv_code1},media_ok=1 WHERE rid=#{rid}
	</update>
	
	<update id="updateGlobalDisable">
         UPDATE iptv_res SET global_disable = 1-global_disable WHERE rid = #{rid}
	</update>
	
	 <select id="findParentResByLinkCrid" resultType="hk.reco.music.iptv.common.domain.IptvRes">
	 	SELECT r.* FROM iptv_res_ver v,iptv_res r WHERE v.link_crid=#{rid} AND r.rid=v.link_prid
		GROUP BY r.rid
	 </select>

	<select id="findByResId" resultType="hk.reco.music.iptv.common.domain.IptvRes">
		SELECT * FROM iptv_res r WHERE r.res_id=#{res_id}
	 </select>
	 
	 <select id="findByRid" resultType="hk.reco.music.iptv.common.domain.IptvRes">
		SELECT * FROM iptv_res r WHERE r.rid=#{rid}
	 </select>
	 
	<select id="findByCateIds" resultType="hk.reco.music.iptv.common.domain.IptvRes">
		SELECT * FROM iptv_res r WHERE r.cate_ids=#{cate_ids}
	 </select>

	<select id="findAllByResidNotNull" resultType="hk.reco.music.iptv.common.domain.IptvRes">
		SELECT * FROM iptv_res r WHERE r.res_id is NOT NULL and r.rid>1069
	 </select>
	 
	 <select id="findByType" resultType="hk.reco.music.iptv.common.domain.IptvRes">
		SELECT * FROM iptv_res r WHERE r.type=#{type}
	 </select>

	<update id="consoleUpdateResStatus">
		update iptv_res set global_disable = #{globalDisable} where rid = #{rid}
	</update>
	
	<select id="findChildLinkRidByType" parameterType="string" resultType="long">
        select rid from iptv_res_ver where link_prid in (
            select rid from iptv_res where type = #{type}
        )
	</select>

	<update id="consoleSubmitChildLinkByRids">
        update iptv_res set prod_vid = test_vid where rid in
        <foreach collection="rids" item="rid" separator="," open="(" close=")">
			#{rid}
		</foreach>
	</update>

	<update id="updateLyricByRid">
		UPDATE iptv_res SET media_lyric=#{media_lyric} WHERE rid=#{rid}
	</update>

</mapper>