<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="head :: cssAndJs(title=~{::title/text()})">
    <title>QQ音乐后台管理系统</title>
  </head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west'" title="分类列表" style="width:20%;height: 100%;">
        <table id="cate-table"  style="width: 100%;height: 100%">
            <tr style="width: 100%;height: 100%">

            </tr>
        </table>
    </div>
    <div  data-options="region:'east'"  title="分类资源"  style="width:80%;height: 100%;">
        <div id="wu-toolbar">
            <div class="wu-toolbar-button">
                <a href="#" id="addResource"  class="easyui-linkbutton" iconCls="icon-build"
                   onclick="addResource('#cate-table')" plain="true">添加</a>
                <a href="#" id="submitResouce"  class="easyui-linkbutton" iconCls="icon-control-fastforward-blue"
                   onclick="submitResouceToProduct('#cate-table','#program-table')" plain="true">提交到正式环境</a>
            </div>
        </div>
        <table id="program-table"  style="width: 100%;height: 100%" toolbar="#wu-toolbar">
            <tr style="width: 100%;height: 100%">

            </tr>
        </table>
    </div>
</div>
<div id="changePosterPannel" class="easyui-window" title="更换海报"
     data-options="modal:true,closed:true,iconCls:'Lockgo',closable:true,resizable:false,draggable:false,collapsible:false,minimizable:false,maximizable:false"
     style="width:250px;padding:20px 25px 0px 25px;height: 320px;">
    <form id="ff" method="post" class="detail-form" enctype="multipart/form-data">
        <div style="text-align: center">
            <img id="sourceImg"
                 style=" width:180px;height:180px;border:1px solid black;display: inline-block;margin-bottom: 10px;cursor: pointer"
                 src="/addImg.png"/><br/>
            <input  type="file" style="display: none;" onchange="filechange(event,'sourceImg');"  name="iptvBigPoster"/>
            <a href="javascript:void(0);"  class="my-btn-hindden  bposter">
                提交<input id="changePosterBtn" type="button" />
            </a>
        </div>
    </form>
</div>


<!--添加媒体-->
<div id="dialog"  title="媒体资源"  class="easyui-window" style="width:600px;height: 700px;"
     data-options="modal:true,closed:true,iconCls:'Lockgo',closable:true,resizable:false,draggable:false,collapsible:false,minimizable:false,maximizable:false">
    <div id="search" class="easyui-tabs" style="height: 100%">
        <div th:title="${type}">
            <table th:id="${type}" class="search-table" style="height:100%;width:100%;">
            </table>
        </div>
    </div>
</div>
<div id="wu-rtoolbar">
    <div>
        资源名称: <input th:id="${type}+'name'" class="easyui-textbox" style="width:120px">
        提交状态:
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchResource()">搜索</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-accept" onclick="addResourceBytype()">添加</a>
    </div>
</div>
</body>
<script type="text/javascript">
    /*<![CDATA[*/
      var type = '[[${type}]]';
    /*]]>*/
	$(function(){
		$('#dg').datagrid({loadFilter:pagerFilter});
        var columns = [];
        var feild = [
            {field: 'rid', title: 'ID', width: 50},
            {field: 'name', title: '分类名', width: 120},
            {field: 'bposter', title: '海报', width: 50, align: 'center', formatter: formatImg},
            {
                field: '_op', title: '操作', width: 80, align: 'center', formatter: formatSubmit
            }
        ];
        columns.push(feild);
        $("#cate-table").datagrid({
            url: 'catelistata',
            collapsible: true,
            singleSelect: true,
            method: 'get',
            onClickRow:showPrograms,
            pageSize: 20,
            columns: columns,
            rowStyler: function (index, row) {
                return "backgroud:red";
            },
            queryParams: {
                type:type
            },
            onLoadSuccess:function(){
               $(this).datagrid('enableDnd');
            },//行放下之后
            onDrop:function(targetRow,sourceRow,point){
                var has = $("#cate-table").datagrid('getRows');
                var items = [];
                //循环获取拖放位置
                $.each(has,function(index,ele){
                    var obj = {};
                    obj.sort = index+1;
                    obj.vid = this.vid;
                    items.push(obj);
                });
                var cates = JSON.stringify(items);
                $.ajax({
                    url:'updateCateSort',
                    type:"post",
                    data:{
                        catesStr:cates,
                    },
                    success:function(re){
                        if(re.success){
                        }else{
                            $.messager.alert("消息提示",re.msg);
                            $("#layout-table").datagrid('reload');
                        }
                    }
                });
            }
        });
        
        $("#changePosterBtn").click(function () {
            $("#ff").form('submit',{
                url:'updateResPoster',
                onSubmit: function(param){
                    param.vid =controllObj.posterVid;
                },
                success:function(res){
                    res = JSON.parse(res);
                    if(res.success){
                        $("#changePosterPannel").panel("close");
                        $("#cate-table").datagrid('reload')
                        $.messager.alert("消息提示","修改成功");
                    }else{
                        $.messager.alert("消息提示",res.msg);
                    }
                }
            });
        });

        $("#sourceImg").click(function () {
             $(this).next().next().trigger('click');
        });
    });

	var controllObj = {

    }


	function showPrograms(rowIndex, rowData){
        var mediaId = rowData.rid;
        var columns = [];
        var feild = [
            {field: 'link_rid', title: 'ID', width: 100},
            {field: 'name', title: '名称', width: 100},
            {field: 'keyword', title: '关键字', width: 150},
            {field: 'bposter', title: '海报', width: 100, align: 'center', formatter: formatImg},
            {
                field: '_op', title: '操作', width: 80, align: 'center', formatter: formatLinkSubmit
            }
        ];
        columns.push(feild);
        $('#program-table').datagrid({
            url: "getResList?prid=" + mediaId,
            columns: columns,
            loadFilter: pagerFilter,
            pagination: true,
            pageSize:20,
            onLoadSuccess: function (data) {
                var rows = data.rows;
                var flag = true;
                if(!data.status){
                    $("#submitResouce").css("display","inline-block");
                }else{
                    $("#submitResouce").css("display","none");
                }
            },
            singleSelect: false
        });
    }

    function changePoster(rid,vid){
        controllObj.posterVid = vid;
	    $("#ff").form('reset');
	    $("#sourceImg").attr("src","/addImg.png");
        $("#changePosterPannel").panel('open');
    }


    /**
     * 添加资源
     * @param mediaTable
     * @returns {boolean}
     */
    function addResource(mediaTable){
        var selection = $(mediaTable).datagrid("getSelections")[0];
        if(!selection){
            return false;
        }
        var columns = [];
        var feild = [
            {field:'ck',checkbox:true},
            {field: 'rid', title: 'ID', width: 50},
            {field: 'name', title: '资源名称', width: 150},
            {field: 'keyword', title: '关键字', width: 100},
            {field: 'singer_name', title: '歌手', width: 100},
            {field: 'bposter', title: '海报', width: 50, align: 'center', formatter: formatImg}
        ];
        columns.push(feild);
        var options = {
            url: 'listData',
            collapsible: true,
            singleSelect: true,
            toolbar:"#wu-rtoolbar",
            selectOnCheck:false,
            loadMsg:false,
            method: 'post',
            pagination: true,
            pageSize: 20,
            onDblClickRow:function(rowIndex, rowData){
                $("#sourceImg").attr("src",rowData.bposter);
                $("#editorform").form("reset");
                $("#editorform").form("load",rowData);
                $("#dlg").dialog("open");
            },
            columns: columns,
            rowStyler: function (index, row) {
                return "backgroud:red";
            },
            queryParams: {
                type: type,
                singerAffect:true,
                globalstatus:0,
            }
        }
        $("#"+type).datagrid(options);
        $("#dialog").panel('open');
    }


    /**
     * 搜索mv
     */
    function searchResource(){
        var queryParams = $("#"+type).datagrid('options').queryParams;
        queryParams.name = $('#'+type+'name').val();
        $("#"+type).datagrid("reload");
    }


    /**
     * 按类型添加资源
     */
    function addResourceBytype(){
        var selections = $("#"+type).datagrid("getChecked");
        if(selections.length==0){
            $.messager.alert("消息提示","请勾选要添加的行");
            return false;
        }
        var ids = '';
        for(var i =0;i<selections.length;i++){
            ids+=selections[i].rid+",";
        }
        var selection = $("#cate-table").datagrid("getSelections")[0];
        var prid = selection.rid;
        $.ajax({
            url:"addChildLink",
            type:"post",
            data:{
                prid:prid,
                crids:ids
            },
            success:function(data){
                if(data.success){
                    $("#"+type).datagrid('reload');
                    $("#program-table").datagrid('reload');
                }else{
                    $.messager.alert("消息提示",data.backmsg);
                }
            }
        });
    }

    function removeRow(link_vid){
        $.ajax({
            url:"deleteChildLink",
            type:"post",
            data:{
                link_vid:link_vid,
            },
            success:function(re){
                if(re.success){
                   // parent.reloadTree();
                    $("#program-table").datagrid('reload');
                }else{
                    $.messager.alert("消息提示",re.backmsg);
                }
            }
        });
    }


    function formatLinkSubmit(value,data,index){
       // var  vid = data.link_vid? data.link_vid:data.vid;
        return "<a href='javascript:void(0);' style='text-decoration: underline;' onclick='removeRow("+data.link_vid+")'>删除</a>"
    }

</script>
</html>